{include file="public/header" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>分类列表</h5>
        </div>
        <div class="ibox-content">
            <!--搜索框开始-->           
            <div class="row">
                <div class="col-sm-12">   
                <div  class="col-sm-2 ibox-tit" style="width: 100px">
                    <div class="input-group" >  
                        <a href="{:url('add_cate')}"><button class="btn btn-outline btn-primary" type="button">添加分类</button></a> 
                    </div>
                </div>                                                                    
                </div>
            </div>
            <!--搜索框结束-->
            <div class="hr-line-dashed"></div>

            <div class="example-wrap">
                <div class="example">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="long-tr">
                                <th width="6%">ID</th>
                                <th>名称</th>
                                <th width="8%">排序</th>
                                {if $cate_config.photo eq 1}<th width="12%">栏目Banner</th>{/if}
                                {if $cate_config.nav eq 1}<th width="8%">导航是否显示</th>{/if}
                                <th width="8%">状态</th>
                                <th width="25%">操作</th>
                            </tr>
                        </thead>
                        <tbody id="article_list">
                            {foreach name="cate_tree" item="vo"}
                                <tr class="long-td " id="{$vo.lvl}_{$vo.id}" >
                                    <td>{$vo.id}</td>
                                    <td class="cate_name"><span class="fa fa-minus-square-o {if $vo.hasChild eq 1}hasChild{/if}" style="margin-left:{$vo.leftpin}px;"></span> {$vo.name}</td>
                                    <td><div class="updateText" onclick="toggleInput(this,{$vo.id},'orderby','article_cate',1)">{$vo.orderby}</div></td>
                                    {if $cate_config.photo eq 1}<td><img src="/uploads/images/{$vo.photo}" height="30" class="sm-img" onerror="this.src='/static/admin/images/no_img.jpg'"/></td>{/if}
                                    {if $cate_config.nav eq 1}
                                    <td>
                                        <input type="checkbox" name="is_nav" data-id="{$vo.id}" data-table="article_cate" class="lcs_check lcs_switch lcs_sm" {if $vo.is_nav eq 1}checked{/if}/>
                                    </td>
                                    {/if}
                                    <td>
                                        <input type="checkbox" name="status" data-id="{$vo.id}" data-table="article_cate" class="lcs_check lcs_switch lcs_sm" {if $vo.status eq 1}checked{/if}/>
                                    </td>
                                    <td>
                                        {if $vo.lvl lt $Think.config.max_cate_class}
                                        <a href="{:url('add_cate',['id'=>$vo.id])}" class="btn btn-warning btn-outline btn-xs">
                                            <i class="fa fa-plus"></i> 添加子类</a>&nbsp;&nbsp;
                                        {/if}
                                        <a href="{:url('edit_cate',['id'=>$vo.id])}" class="btn btn-primary btn-outline btn-xs">
                                            <i class="fa fa-paste"></i> 编辑</a>&nbsp;&nbsp;
                                        <a href="javascript:;" onclick="del_cate({$vo.id})" class="btn btn-danger btn-outline btn-xs">
                                            <i class="fa fa-trash-o"></i> 删除</a>   
                                    </td>
                                </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Panel Other -->
{include file="public/footer" /}

<script type="text/javascript">
$(function(){
    $('.hasChild').click(function(){
        if($(this).hasClass('fa-minus-square-o')){
            $(this).removeClass('fa-minus-square-o').addClass('fa-plus-square-o');
        }else{
            $(this).removeClass('fa-plus-square-o').addClass('fa-minus-square-o');
        }
        rowClicked(this);
    });
});

function rowClicked(obj){
    var parent = $(obj).parents('.long-td');
    var is_show = $(obj).hasClass('fa-minus-square-o')? true : false;
    var cur_lvl = parent.attr('id').split("_");

    parent.nextAll().each(function(){
        $arr = $(this).attr('id').split("_");
        $lvl = $arr[0];
        if($lvl <= cur_lvl[0]){
            return false;
        }else{
            if(is_show){
                $(this).removeClass('hidden');
                $(this).find('.fa').removeClass('fa-plus-square-o').addClass('fa-minus-square-o');
            }else{
                $(this).addClass('hidden');
            }
        }
    });
}

function del_cate(id){
    layer.confirm('确认删除此分类?', {icon: 3, title:'提示'}, function(index){
        //do something
        $.getJSON('./del_cate', {'id' : id}, function(res){
            if(res.code == 1){
                layer.msg(res.msg,{icon:1,time:1500,shade: 0.1},function(){
                    window.location.href="{:url('article/index_cate')}";
                });               
            }else{
                layer.msg(res.msg,{icon:0,time:1500,shade: 0.1});
            }
        });

        layer.close(index);
    })

}

</script>
</body>
</html>