@font-face {
  font-family: "iconfont"; /* Project id 2895395 */
  src: url('iconfont.woff2?t=1637217052725') format('woff2'),
       url('iconfont.woff?t=1637217052725') format('woff'),
       url('iconfont.ttf?t=1637217052725') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-piliangxiadan:before {
  content: "\e6cf";
}

.icon-kefu-copy-copy:before {
  content: "\e6b7";
}

.icon-zengjia:before {
  content: "\e6ea";
}

.icon-shoucang:before {
  content: "\e602";
}

.icon-shoucang1:before {
  content: "\e8c6";
}

.icon-sousuo-:before {
  content: "\e601";
}

.icon-moban:before {
  content: "\e61f";
}

.icon-fenxiang:before {
  content: "\e600";
}

.icon-kehu:before {
  content: "\e623";
}

.icon-gouwuche:before {
  content: "\e66d";
}

.icon-CaretDown:before {
  content: "\e619";
}

