<!--news_details-->
<div class="container w1200">
    {include file="public/left_menu" /}
    <div class="con_title"> <b>{$navCate.en_name}</b> </div>
    <!--<div class="nav">
        <ul class="fcc">
            {volist name="sub_menu" id="vo"}
            <li {if $vo.isCurrent eq 1}class="cur"{else/}class=""{/if}><a href="{$vo.url}" title="">{$vo.name}</a></li>
            {/volist}
        </ul>
    </div>-->
    <div class="news-details">
        {if $cate.info_state == 6}
        <div class="title">{$info.title}</div>
        <div style="text-align: center">
            <img src="__UPLOAD_PATH__/{$info.photo}">
        </div>
        {else/}

        <div class="title">{$info.title}</div>
        <div class="date"> <span>Sources: {$info.source} | Date: {$info.create_time|date="Y-m-d",###} | Views: {$info.views}</span></div>
        <div class="details-cont">
            {$info.content}
        </div>
        {/if}
        <div class="FastMove">
            {if $page.prev_id eq 0}
            <div class="Prev"> <b>Prev: </b><a title="">No More</a> </div>
            {else /}
            <div class="Prev"> <b>Prev: </b><a href="{$page.prev_url}" title="">{$page.prev_title}</a> </div>
            {/if}
            {if $page.next_id eq 0}
            <div class="Prev"> <b>Next: </b><a title="">No More</a> </div>
            {else /}
            <div class="Next"> <b>Next: </b><a href="{$page.next_url}">{$page.next_title}</a></div>
            {/if}
        </div>
    </div>
</div>

