<div class="foot_logo">
    <img src="__IMG__/logo2.png" alt="" srcset="">
</div>
<div class="csc-textpic">
    <ul class="acea-row row-center-wrapper">
        <li><a href="" target="_blank" rel="nofollow" class="icon-facebook"></a></li>
        <li><a href="https://twitter.com/MelingBiomedic1" target="_blank" rel="nofollow"
               class="icon-twitter"></a></li>
        <!-- <li><a href="" target="_blank" rel="nofollow" class="icon-gplus"></a></li> -->
        <li><a href="https://www.linkedin.com/feed/" target="_blank" rel="nofollow"
               class="icon-linkedin"></a></li>
        <!-- <li><a href="https://www.youtube.com/channel/UCZOzvGpQF3ubP_8k-5T7Ouw" target="_blank"
                rel="nofollow" class="icon-youtube"></a></li> -->
    </ul>
</div>
<div class="foot_btm">
    <div class="num">You are the {volist name="chars" id="vo" key='k'}<span>{$chars[$k-1]}</span>{/volist} visitor</div>
    <div class="copy">{$config.web_site_copy}</div>
</div>